.login-input {
	width: 250px;
}
header {
	height: 55px;
	margin-bottom: 10px;
	background-color: darkgrey;
}
body {
	padding: 0px;
	background-color: lightgrey;
	margin-top: 0px;
	color: black;
}
.text-center {
	text-align: center;
}
.edit-button {
	text-align: right;
}
