 <template name="forbiddenaccess">
 <!-- Modal -->
  <div class="modal fade" id="forbiddenaccess" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>
            Vous n'avez pas les permissions pour accéder à cette page, merci de vous connecter ou de vous renseigner auprès de l'administrateur pour connaître vos permissions.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>