<template name="editOffer">

<form>
	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<label>
				Titre : 
				<input type="text" name="title" placeholder="" value="{{title}}">
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<label>
				Nombre de profils :
				<input type="number" name="nbProfiles" placeholder="" value="{{nbProfiles}}">				
			</label>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-7">
			<label>Date de début de mission: 
				<input type="date" name="missionStartingDate" placeholder="" value="{{missionStartingDate}}">
			</label>
			<label>
				Prévision : 
				<input type="text" name="forecast" placeholder="" value="{{forecast}}">
			</label>			
			<label>
				Contact commercial : 
				<input type="text" name="contactCommerceId" placeholder="" value="{{contactCommerceId}}">
			</label>

		</div>
		<div class="col-sm-5">
			<label>
				Durée de la mission : 
				<input type="text" name="missionDuration" placeholder="" value="{{missionDuration}}">
			</label>
			<label>
				Emplacement : 
				<input type="text" name="location" placeholder="" value="{{location}}">
			</label>
			<label>
				Contact sourcing : 
				<input type="text" name="contactSourcingId" placeholder="" value="{{contactSourcingId}}">
			</label>
		</div>
	</div>		
	<div class="row">
		<div class="col-sm-12">
			<label>
				Description : 
				<textarea  name="description">{{description}}
				</textarea>	
			</label>
		</div>
	</div>	
	<div class="row">
		<div class="col-xs-11 edit-button">
			<input type="submit" class="btn btn-primary" value="valider">
		</div>
		<div class="col-xs-1 ">
		</div>
	</div>
</form>
</template>	