 <template name="loginfail">
 <!-- Modal -->
  <div class="modal fade" id="logfail" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>
            Votre combinaison de nom d'utilisateur et de mot de passe est incorrecte.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>